<a href="https://colab.research.google.com/github/nureeee/numpy-pandas/blob/main/01_%EB%B6%80%EB%8F%99%EC%82%B0_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://bit.ly/ds-house-price")
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

# 이것 부터 생각 하자
~ 별 어떤 집계를 해볼지 생각해 보자
* 지역별 분양가격의 평균
* 월별 분양 가격 평균
* 지역별 분양 개수
* 등등등....

# 데이터 전처리의 목적
* 데이터를 정제해서 뭐하지?
  * 불필요한 데이터를 걸러내는 작업
    * NaN값
      - 1번 사람의 리뷰를 수집 못해서 NaN
      - 2번 사람의 리뷰를 수집 못해서 NaN

      - 서울특별시 광진구의 아파트 가격을 수집 못했어 NaN
      - 전체 구의 평균을 보고 싶어요

      - 타이타닉 해보셨죠 - age에 몇몇 사람이 NaN값 들어있어요
      - 나이의 평균을 구하고 싶어요 - NaN을 지우는 것이 아니고 0을 집어넣거나, 나이의 평균을 집어넣거나 하는 등등의 처리를 한다.
    * 중복값 ( 필요에 따라 걸러낼 것 )
      - 1번 사람이 "와 재미있다"
      - 2번 사람도 "와 재미있다"
      - 서울의 아파트값이 1억
      - 경기도의 아파트값이 1억
      - 서울의 2020 아파트값이 10억
      - 서울의 2021 아파트값도 10억
  * 오차 범위를 줄여주기 위해서
* 사용하기 편하게 하려고
### 어떠한 문자열이든 여러분들 마음대로 다룰 수 있어야 해요
* 정규식이 짱짱맨

# 1. column 이름 재정의
분양가격(㎡) -> 분양가격

In [ ]:
# rename 활용
df = df.rename(columns={
    "분양가격(㎡)": "분양가격"
})

df.head()

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

절대 복붙은 하지 마세요.. 절대!!!!! never....

* 공부 목적이 아니라서? `No`
* 오류 떴을 때 수정이 거의 불가능 해요 ( 뭔지를 몰라 )
* 구글링을해서 코드를 찾아서 복붙을 해요 - 잘 되면 어? 내가 잘했네
 - 안되면 : 이거 왜이래
 - 코드는 잘못이 없어요. 사람이 잘못이에요
* 코드의 구조화를 이해를 할 수가 없어요
* 복붙을 하되, 복붙을 했으면 한줄한줄 주석을 적어보세요

반드시 복붙을 해야하는 코드가 있어요
 * 상숫값, 예를 들어 아까 같은 `분양가격(㎡)`
 * dict의 키값 등...

# 2. 데이터 전체적으로 살펴보기( Overview )

# 2-1. NaN값 및 DataType 확인하기
* NaN 값이 얼마나 있는지 파악해서, 해당 데이터를 어떻게 처리해야 할지 판단한다.
* DataType은 왜?
  - 수치 데이터가 실제 수치 데이터 형식으로 되어 있는지 확인이 반드시 필요
  - CSV에서 불러왔으면 거의 대부분 잘 들어가 있음
  - 스크래이핑으로 데이터를 불러왔을 때 문제가 됨 ( 특히 HTML )
    - 모든 HTML은 **문자열** 형식입니다.
    - 수치 데이터를 긁어왔는데 문자열이면 난감하겠죠

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

## 2-2. 통계값 확인

In [ ]:
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

해당 데이터셋에 대한 통계값 확인 결과
 * 집계의 의미가 없는 연도와 월에 대한 통계값만 나오는 것을 알 수 있다.

# 3. 분양가격 컬럼을 정수(int) 타입으로 변경
* 실무에서 이러한 형태의 데이터 타입이 수두룩

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
df.loc[df['분양가격'] == '  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

문자열(object) 컬럼에 문자열에 관련된 함수를 적용하고자 할 때는 반드시 시리즈 뒤에 `str`을 붙여줘야 한다.

```python
# strip()을 분양가격 컬럼에 적용하고 싶으면..?
df['분양가격'].str.strip()

df['분양가격'] -> 시리즈
df['분양가격'].str -> 시리즈에 들어있는 문자열 데이터
```

In [ ]:
df['분양가격'] = df['분양가격'].str.strip()
df.loc[df['분양가격'] == '']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [ ]:
# 분양 가격에 비어있는 문자열 ''가 들어있으면 0원 넣어주기
df.loc[df['분양가격'] == '', '분양가격'] = 0

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

## NaN값은 fillna 함수를 사용해서 채워줍시다.

In [ ]:
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

## comma( , )제거
```python
# replace() 함수를 사용하여 문자열 제거
# replace도 문자열 함수기 때문에 앞에 str이 필요하다.
replace("대상 문자열( 또는 정규식 )", "바꿀 문자열")
```

In [ ]:
df["분양가격"] = df["분양가격"].str.replace(",", "")

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

다시 NaN값이 생김 ㅠㅠ

In [ ]:
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
df['분양가격'] = df['분양가격'].str.replace("-", '')

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

In [ ]:
df.loc[df['분양가격'] == '', '분양가격'] = 0
df['분양가격'] = df['분양가격'].astype(int)

데이터 프레임 정보 확인

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

### [번외] 전처리 전략

In [ ]:
df_temp = pd.read_csv("https://bit.ly/ds-house-price")
df_temp.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [ ]:
# 보고 싶은 데이터의 종류에 대해서 먼저 확인을 해보자
not_number_datas = df_temp['분양가격(㎡)'].str.replace("[0-9]", '')
not_number_datas

0
1
2
3
4
       ...
4500
4501
4502
4503    NaN
4504
Name: 분양가격(㎡), Length: 4505, dtype: object

In [ ]:
set(not_number_datas)

{'', '  ', ',', '-', nan}

set을 활용해서 중복 데이터를 제거한 형태로 확인 하는 전략

# 4. 규모구분 '전용면적'문자열 삭제하기

In [ ]:
df.head()

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

In [ ]:
df['규모구분'].unique()

array(['전체', '전용면적 60㎡이하', '전용면적 60㎡초과 85㎡이하', '전용면적 85㎡초과 102㎡이하',
       '전용면적 102㎡초과'], dtype=object)

In [ ]:
df['규모구분'] = df['규모구분'].str.replace("전용면적 ", "")
df.head()

  지역명          규모구분    연도   월  분양가격
0  서울            전체  2015  10  5841
1  서울         60㎡이하  2015  10  5652
2  서울   60㎡초과 85㎡이하  2015  10  5882
3  서울  85㎡초과 102㎡이하  2015  10  5721
4  서울        102㎡초과  2015  10  5879

In [ ]:
df['규모구분'].unique()

array(['전체', '60㎡이하', '60㎡초과 85㎡이하', '85㎡초과 102㎡이하', '102㎡초과'],
      dtype=object)

# 5. 지역명 별로 평균 분양가격 확인하기
* ~별로 ~를 확인하고 싶다. : `groupby`

In [ ]:
df.groupby("지역명") # 지역명 별로

In [ ]:
df.groupby("지역명")['분양가격'] # 지역명 별 분양가격의

In [ ]:
df.groupby("지역명")["분양가격"].mean() # 지역명 별 분양가격의 평균

지역명
강원    2339.807547
경기    4072.667925
경남    2761.275472
경북    2432.128302
광주    2450.728302
대구    3538.920755
대전    2479.135849
부산    3679.920755
서울    7225.762264
세종    2815.098113
울산    1826.101887
인천    3578.433962
전남    2270.177358
전북    2322.060377
제주    2979.407547
충남    2388.324528
충북    2316.871698
Name: 분양가격, dtype: float64

## 5-1. 전처리 하면서 0이 된 데이터가 있었어요.
* 가격이 0이라는 이야기는 평균 같은 것을 구할 때는 치명적인 데이터
* 때문에 삭제 하고 평균을 구해볼 거에요

In [ ]:
df.loc[df['분양가격'] == 0]

     지역명          규모구분    연도   월  분양가격
28    광주  85㎡초과 102㎡이하  2015  10     0
29    광주        102㎡초과  2015  10     0
34    대전        102㎡초과  2015  10     0
81    제주         60㎡이하  2015  10     0
113   광주  85㎡초과 102㎡이하  2015  11     0
...   ..           ...   ...  ..   ...
4461  세종         60㎡이하  2020   2     0
4488  전남  85㎡초과 102㎡이하  2020   2     0
4493  경북  85㎡초과 102㎡이하  2020   2     0
4499  경남        102㎡초과  2020   2     0
4503  제주  85㎡초과 102㎡이하  2020   2     0

[320 rows x 5 columns]

분양가격이 0인 데이터(행)를 삭제

## 특정 조건이 만족하는 데이터(행)를 제거하고자 한다.
1. 조건을 만족하는 행의 index를 가져온다.
2. drop을 활용하여 행을 제거한다.

In [ ]:
# 1단계
drop_idx = df.loc[df['분양가격'] == 0].index
drop_idx

Int64Index([  28,   29,   34,   81,  113,  114,  119,  166,  198,  199,
            ...
            4418, 4448, 4453, 4458, 4459, 4461, 4488, 4493, 4499, 4503],
           dtype='int64', length=320)

In [ ]:
# 2단계
df = df.drop(drop_idx, axis=0)
df.loc[df['분양가격'] == 0]

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4185 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4185 non-null   object
 1   규모구분    4185 non-null   object
 2   연도      4185 non-null   int64
 3   월       4185 non-null   int64
 4   분양가격    4185 non-null   int64
dtypes: int64(3), object(2)
memory usage: 196.2+ KB

필요 없는 데이터를 제거 했으니까 다시 확인

In [ ]:
df.groupby("지역명")["분양가격"].mean()

지역명
강원    2412.642023
경기    4072.667925
경남    2814.376923
경북    2547.486166
광주    3049.028169
대구    3663.335938
대전    3128.433333
부산    3679.920755
서울    7225.762264
세종    2984.004000
울산    3043.503145
인천    3633.275862
전남    2304.969349
전북    2348.648855
제주    3432.795652
충남    2501.604743
충북    2316.871698
Name: 분양가격, dtype: float64

지역별 평균 분양가가 제일 비싼데랑 제일 싼데의 차

In [ ]:
df.groupby("지역명")["분양가격"].mean().max() - df.groupby("지역명")["분양가격"].mean().min()

4920.792915491939

연도별 분양가격 확인하기

In [ ]:
df.groupby("연도")['분양가격'].mean()

연도
2015    2788.707819
2016    2934.250000
2017    3143.311795
2018    3326.951034
2019    3693.422149
2020    3853.960526
Name: 분양가격, dtype: float64

# 6. 피벗테이블 사용하기
* 연도별 평균 분양가격을 보고싶은데, 규모구분 별로 보고싶어요.
* 행인덱스 : 연도 - `index`
* 열인덱스 : 규모구분 - `columns`
* 집계할값 대상 : 분양가격 - `values`

In [ ]:
pd.pivot_table(
    df, # 사용할 데이터 프레임
    index="연도", # 연도의 값이 인덱스가 된다.
    columns="규모구분", # 규모구분의 값이 컬럼명이 된다.
    values="분양가격")

규모구분       102㎡초과        60㎡이하  60㎡초과 85㎡이하  85㎡초과 102㎡이하           전체
연도
2015  2980.977778  2712.583333  2694.490196   2884.395833  2694.862745
2016  3148.099476  2848.144279  2816.965686   3067.380435  2816.073529
2017  3427.649746  3112.538071  2981.950980   3204.075145  3008.279412
2018  3468.355932  3286.184783  3227.458128   3467.184211  3235.098522
2019  4039.854839  3486.910112  3538.545918   3933.538462  3515.974490
2020  4187.566667  3615.968750  3594.852941   4532.090909  3603.911765

연도, 규모별 평균 분양가격을 보고 싶어요

In [ ]:
df.groupby(["연도", "규모구분"])["분양가격"].mean()

연도    규모구분
2015  102㎡초과          2980.977778
      60㎡이하           2712.583333
      60㎡초과 85㎡이하     2694.490196
      85㎡초과 102㎡이하    2884.395833
      전체              2694.862745
2016  102㎡초과          3148.099476
      60㎡이하           2848.144279
      60㎡초과 85㎡이하     2816.965686
      85㎡초과 102㎡이하    3067.380435
      전체              2816.073529
2017  102㎡초과          3427.649746
      60㎡이하           3112.538071
      60㎡초과 85㎡이하     2981.950980
      85㎡초과 102㎡이하    3204.075145
      전체              3008.279412
2018  102㎡초과          3468.355932
      60㎡이하           3286.184783
      60㎡초과 85㎡이하     3227.458128
      85㎡초과 102㎡이하    3467.184211
      전체              3235.098522
2019  102㎡초과          4039.854839
      60㎡이하           3486.910112
      60㎡초과 85㎡이하     3538.545918
      85㎡초과 102㎡이하    3933.538462
      전체              3515.974490
2020  102㎡초과          4187.566667
      60㎡이하           3615.968750
      60㎡초과 85㎡이하     3594.852941
      85㎡초과 102㎡이하    4532.090909
      전체              3603.911765
Name: 분양가격, dtype: float64

In [ ]:
pd.DataFrame(df.groupby(["연도", "규모구분"])["분양가격"].mean())

                          분양가격
연도   규모구분
2015 102㎡초과        2980.977778
     60㎡이하         2712.583333
     60㎡초과 85㎡이하   2694.490196
     85㎡초과 102㎡이하  2884.395833
     전체            2694.862745
2016 102㎡초과        3148.099476
     60㎡이하         2848.144279
     60㎡초과 85㎡이하   2816.965686
     85㎡초과 102㎡이하  3067.380435
     전체            2816.073529
2017 102㎡초과        3427.649746
     60㎡이하         3112.538071
     60㎡초과 85㎡이하   2981.950980
     85㎡초과 102㎡이하  3204.075145
     전체            3008.279412
2018 102㎡초과        3468.355932
     60㎡이하         3286.184783
     60㎡초과 85㎡이하   3227.458128
     85㎡초과 102㎡이하  3467.184211
     전체            3235.098522
2019 102㎡초과        4039.854839
     60㎡이하         3486.910112
     60㎡초과 85㎡이하   3538.545918
     85㎡초과 102㎡이하  3933.538462
     전체            3515.974490
2020 102㎡초과        4187.566667
     60㎡이하         3615.968750
     60㎡초과 85㎡이하   3594.852941
     85㎡초과 102㎡이하  4532.090909
     전체            3603.911765

In [ ]:
# pivot_table로 확인해보기
# 연도, 규모구분별 분양가격의 평균, 최대값, 최소값 확인하기

# pivot_table의 기본 집계 : values로 지정한 컬럼의 평균
# 평균 이외의 다른 집계를 할 때는 aggfunc(aggregate function) 옵션을 활용
pd.pivot_table(
    df,
    index=["연도", "규모구분"],
    values="분양가격"
)

                          분양가격
연도   규모구분
2015 102㎡초과        2980.977778
     60㎡이하         2712.583333
     60㎡초과 85㎡이하   2694.490196
     85㎡초과 102㎡이하  2884.395833
     전체            2694.862745
2016 102㎡초과        3148.099476
     60㎡이하         2848.144279
     60㎡초과 85㎡이하   2816.965686
     85㎡초과 102㎡이하  3067.380435
     전체            2816.073529
2017 102㎡초과        3427.649746
     60㎡이하         3112.538071
     60㎡초과 85㎡이하   2981.950980
     85㎡초과 102㎡이하  3204.075145
     전체            3008.279412
2018 102㎡초과        3468.355932
     60㎡이하         3286.184783
     60㎡초과 85㎡이하   3227.458128
     85㎡초과 102㎡이하  3467.184211
     전체            3235.098522
2019 102㎡초과        4039.854839
     60㎡이하         3486.910112
     60㎡초과 85㎡이하   3538.545918
     85㎡초과 102㎡이하  3933.538462
     전체            3515.974490
2020 102㎡초과        4187.566667
     60㎡이하         3615.968750
     60㎡초과 85㎡이하   3594.852941
     85㎡초과 102㎡이하  4532.090909
     전체            3603.911765

In [ ]:
# numpy에 집계함수가 있음!
import numpy as np

pd.pivot_table(
    df,
    index=["연도", "규모구분"],
    values="분양가격",
    aggfunc=[np.mean, np.max, np.min]
)

                          mean   amax  amin
                          분양가격   분양가격  분양가격
연도   규모구분
2015 102㎡초과        2980.977778   6551  2171
     60㎡이하         2712.583333   6321  1919
     60㎡초과 85㎡이하   2694.490196   5966  1906
     85㎡초과 102㎡이하  2884.395833   7092  1868
     전체            2694.862745   6050  1909
2016 102㎡초과        3148.099476   7241  2157
     60㎡이하         2848.144279   6713  1900
     60㎡초과 85㎡이하   2816.965686   6537  1906
     85㎡초과 102㎡이하  3067.380435   8096  2031
     전체            2816.073529   6443  1909
2017 102㎡초과        3427.649746   6949  2138
     60㎡이하         3112.538071   7005  2049
     60㎡초과 85㎡이하   2981.950980   6522  1983
     85㎡초과 102㎡이하  3204.075145   7887  2012
     전체            3008.279412   6706  1976
2018 102㎡초과        3468.355932   7545  2283
     60㎡이하         3286.184783   7398  2152
     60㎡초과 85㎡이하   3227.458128   7890  2076
     85㎡초과 102㎡이하  3467.184211   8098  2221
     전체            3235.098522   7398  2077
2019 102㎡초과        4039.854839   8989  2311
     60㎡이하         3486.910112   8281  2124
     60㎡초과 85㎡이하   3538.545918   8588  2261
     85㎡초과 102㎡이하  3933.538462  12728  2337
     전체            3515.974490   8100  2239
2020 102㎡초과        4187.566667   9039  2532
     60㎡이하         3615.968750   8330  2324
     60㎡초과 85㎡이하   3594.852941   8140  2297
     85㎡초과 102㎡이하  4532.090909  13835  2634
     전체            3603.911765   8121  2305

In [ ]:
df.to_csv("house-price-clean.csv", index=False)

## pandas
1. indexing, loc, iloc
2. apply, lambda
3. data append, remove
4. concat, merge dataframe

## python
1. function def
2. class def