<a href="https://colab.research.google.com/github/nureeee/numpy-pandas/blob/main/0521_%EC%98%A4%EC%A0%84%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### 1차원 : 벡터
###### 2차원 :

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def Disp(name='손흥민', age=30):
    '''
    Disp함수는 이름과 나이를 출력합sl다
    '''
    print(name, age)

In [ ]:
Disp()

손흥민 30

In [ ]:
Disp(name='이누리', age=None)

이누리 None

In [ ]:
Disp?  ## 함수 구조를 볼 수 있다.

In [ ]:
sum??

In [ ]:
n1 = np.arange(1, 11, 2)

In [ ]:
type(n1)

numpy.ndarray

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a

[1, 2, 3, 4, 5]

In [ ]:
a1, a2, a3, a4, a5 = a  ## 팩, 언팩

In [ ]:
a1 , a2, *a3 = a ##

In [ ]:
a1

1

In [ ]:
a2

2

In [ ]:
a3

[3, 4, 5]

In [ ]:
d1 = {'name':'누리', 'age': '24'}

In [ ]:
d100 = pd.DataFrame(d1, index=[0,1])

In [ ]:
d100

  name age
0   누리  24
1   누리  24

In [ ]:
ag = iter(a)

In [31]:
type(ag)  ## iter라고 하면 연속된 혹은 반복되는 데이터

list_iterator

In [32]:
a

[1, 2, 3, 4, 5]

In [33]:
aa = np.array(a)

In [34]:
type(a)

list

In [35]:
type(aa)

numpy.ndarray

In [36]:
aa+5

array([ 6,  7,  8,  9, 10])