판다스 맛보기

In [1]:
import numpy as np
import pandas as pd

In [3]:
type(pd)

module

In [4]:
s1 = pd.Series([1, 2, 3, 4])

In [6]:
s2 = pd.Series(['서울', '부산', '대구', '광주'])

In [7]:
s1.dtype

dtype('int64')

In [8]:
s2.dtype

dtype('O')

In [9]:
type(s1)

pandas.core.series.Series

In [11]:
type(s2)

pandas.core.series.Series

In [15]:
s3 = pd.Series([15, 45, 75, 35, 25]) ## 시리즈는 1차원!! 배열 리스트와 똑같음

In [17]:
s3.sum()

195

In [18]:
s3.describe

<bound method NDFrame.describe of 0    15
1    45
2    75
3    35
4    25
dtype: int64>

In [19]:
s3.sum

<bound method Series.sum of 0    15
1    45
2    75
3    35
4    25
dtype: int64>

In [20]:
s3.mean()

39.0

In [22]:
s3.shape

(5,)

In [23]:
s3.size

5

In [24]:
s3.sub(5)

0    10
1    40
2    70
3    30
4    20
dtype: int64

In [26]:
s3 - 15

0     0
1    30
2    60
3    20
4    10
dtype: int64

In [27]:
s3 +100

0    115
1    145
2    175
3    135
4    125
dtype: int64

In [28]:
k= [2, 3, 4, 5]

In [29]:
for i, j in enumerate(k):
    print(i, j)

0 2
1 3
2 4
3 5

In [30]:
s2

0    서울
1    부산
2    대구
3    광주
dtype: object

In [31]:
for i, j in enumerate(s2):
    print(i, j)

0 서울
1 부산
2 대구
3 광주

In [32]:
s2.ndim

1

In [35]:
s4 = pd.Series(['설악산', '지리산', '덕유산', '소백산', '한라산'])

In [36]:
s4

0    설악산
1    지리산
2    덕유산
3    소백산
4    한라산
dtype: object

In [37]:
s5 = pd.Series(['설악산', '지리산', '덕유산', '소백산', '한라산'], index=['A', 'B', 'C', 'D', 'E'])

In [38]:
s5

A    설악산
B    지리산
C    덕유산
D    소백산
E    한라산
dtype: object

In [39]:
s3

0    15
1    45
2    75
3    35
4    25
dtype: int64

In [47]:
s22 = pd.DataFrame(s5) ##데이터프레임은 2차원이다.

In [45]:
s22

     0
A  설악산
B  지리산
C  덕유산
D  소백산
E  한라산

In [46]:
type(s22)

pandas.core.frame.DataFrame