<a href="https://colab.research.google.com/github/nureeee/numpy-pandas/blob/main/210531_%EC%98%A4%ED%9B%84%EC%88%98%EC%97%85_%EB%84%A4%EC%9D%B4%EB%B2%84_%EA%B0%9C%EB%B0%9C%EC%9E%90_%EC%84%BC%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%%writefile my.html
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"> 
 	<title>나의 타이틀</title>
</head>

<body bgcolor=green  text=white>

  <h1>짱구네 집</h1>
  <p>단락. paragraph</p>

  <div>
  	<a href='http://func.kr'>우리카페</a>
  </div>

  <div>
    <a href='http://www.naver.com'>네이버</a>
  </div>

 <div>
    <a href='http://w3schools.com'>공부하러가자</a>
</div>

<table style='width:50%' border=1 align=center>
  <tr align=center>
    <th>이름</th>
    <th>소속</th> 
    <th>연봉</th>
  </tr>
  
  <tr align=center>
    <td>류현진</td>
    <td>토론토</td>
    <td>1500</td>
  </tr>
  
  <tr align=center>
    <td>김하성</td>
    <td>센디에이고</td>
    <td>700</td>
  </tr>
  
  <tr align=center>
    <td>양현종</td>
    <td>텍사스</td>
    <td>800</td>
  </tr>
  
</table>
    
  
  <div id='id1'>
  	   여기는 서울 
       <p> 단락 </p>
  </div>
  
</body>

</html>

Writing my.html

In [3]:
!ls

my.html  sample_data

In [5]:
!nl my.html

     1	<!DOCTYPE html>

     2	<html>

     3	<head>
     4	    <meta charset="utf-8">
     5	 	<title>나의 타이틀</title>
     6	</head>

     7	<body bgcolor=green  text=white>

     8	  <h1>짱구네 집</h1>
     9	  <p>단락. paragraph</p>

    10	  <div>
    11	  	<a href='http://func.kr'>우리카페</a>
    12	  </div>

    13	  <div>
    14	    <a href='http://www.naver.com'>네이버</a>
    15	  </div>

    16	 <div>
    17	    <a href='http://w3schools.com'>공부하러가자</a>
    18	</div>

    19	<table style='width:50%' border=1 align=center>
    20	  <tr align=center>
    21	    <th>이름</th>
    22	    <th>소속</th>
    23	    <th>연봉</th>
    24	  </tr>
    25
    26	  <tr align=center>
    27	    <td>류현진</td>
    28	    <td>토론토</td>
    29	    <td>1500</td>
    30	  </tr>
    31
    32	  <tr align=center>
    33	    <td>김하성</td>
    34	    <td>센디에이고</td>
    35	    <td>700</td>
    36	  </tr>
    37
    38	  <tr align=center>
    39	    <td>양현종</td>
    40	    <td>텍사스</td>
    41	    <td>800</td>
    42	  </tr>
    43
    44	</table>
    45
    46
    47	  <div id='id1'>
    48	  	   여기는 서울
    49	       <p> 단락 </p>
    50	  </div>
    51
    52	</body>

    53	</html>

In [7]:
from bs4 import BeautifulSoup
import urllib.request

with open('my.html') as f:
    s = BeautifulSoup(f, 'html.parser')

print(s)

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>나의 타이틀</title>
</head>
<body bgcolor="green" text="white">
<h1>짱구네 집</h1>
<p>단락. paragraph</p>
<div>
<a href="http://func.kr">우리카페</a>
</div>
<div>
<a href="http://www.naver.com">네이버</a>
</div>
<div>
<a href="http://w3schools.com">공부하러가자</a>
</div>
<table align="center" border="1" style="width:50%">
<tr align="center">
<th>이름</th>
<th>소속</th>
<th>연봉</th>
</tr>
<tr align="center">
<td>류현진</td>
<td>토론토</td>
<td>1500</td>
</tr>
<tr align="center">
<td>김하성</td>
<td>센디에이고</td>
<td>700</td>
</tr>
<tr align="center">
<td>양현종</td>
<td>텍사스</td>
<td>800</td>
</tr>
</table>
<div id="id1">
  	   여기는 서울
       <p> 단락 </p>
</div>
</body>
</html>

In [8]:
s.title

In [9]:
s.a

In [11]:
s.head

<head>
<meta charset="utf-8"/>
<title>나의 타이틀</title>
</head>

In [12]:
s.body

<body bgcolor="green" text="white">
<h1>짱구네 집</h1>
<p>단락. paragraph</p>
<div>
<a href="http://func.kr">우리카페</a>
</div>
<div>
<a href="http://www.naver.com">네이버</a>
</div>
<div>
<a href="http://w3schools.com">공부하러가자</a>
</div>
<table align="center" border="1" style="width:50%">
<tr align="center">
<th>이름</th>
<th>소속</th>
<th>연봉</th>
</tr>
<tr align="center">
<td>류현진</td>
<td>토론토</td>
<td>1500</td>
</tr>
<tr align="center">
<td>김하성</td>
<td>센디에이고</td>
<td>700</td>
</tr>
<tr align="center">
<td>양현종</td>
<td>텍사스</td>
<td>800</td>
</tr>
</table>
<div id="id1">
  	   여기는 서울
       <p> 단락 </p>
</div>
</body>

In [13]:
s.h1

In [16]:
s.select_one

<bound method Tag.select_one of <!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<title>나의 타이틀</title>
</head>
<body bgcolor="green" text="white">
<h1>짱구네 집</h1>
<p>단락. paragraph</p>
<div>
<a href="http://func.kr">우리카페</a>
</div>
<div>
<a href="http://www.naver.com">네이버</a>
</div>
<div>
<a href="http://w3schools.com">공부하러가자</a>
</div>
<table align="center" border="1" style="width:50%">
<tr align="center">
<th>이름</th>
<th>소속</th>
<th>연봉</th>
</tr>
<tr align="center">
<td>류현진</td>
<td>토론토</td>
<td>1500</td>
</tr>
<tr align="center">
<td>김하성</td>
<td>센디에이고</td>
<td>700</td>
</tr>
<tr align="center">
<td>양현종</td>
<td>텍사스</td>
<td>800</td>
</tr>
</table>
<div id="id1">
  	   여기는 서울
       <p> 단락 </p>
</div>
</body>
</html>>

In [17]:
s.td

In [18]:
s.td(all)

[]

In [19]:
s.p

In [20]:
s.find('div')

<div>
<a href="http://func.kr">우리카페</a>
</div>

In [21]:
s.find_all('td')

[<td>류현진</td>,
 <td>토론토</td>,
 <td>1500</td>,
 <td>김하성</td>,
 <td>센디에이고</td>,
 <td>700</td>,
 <td>양현종</td>,
 <td>텍사스</td>,
 <td>800</td>]

In [23]:
s_name = s.find_all('a')
for i in s_name:
    print(i)

<a href="http://func.kr">우리카페</a>
<a href="http://www.naver.com">네이버</a>
<a href="http://w3schools.com">공부하러가자</a>

In [24]:
s_name = s.find_all('a')
for i in s_name:
    print(i.get_text())

우리카페
네이버
공부하러가자

In [25]:
s.select('head > title')

In [26]:
s.select('title')

In [27]:
s.select('table > th > tr')

[]

In [28]:
s.select('table > td > tr')

[]

In [30]:
s.select('table > tr > td')

[<td>류현진</td>,
 <td>토론토</td>,
 <td>1500</td>,
 <td>김하성</td>,
 <td>센디에이고</td>,
 <td>700</td>,
 <td>양현종</td>,
 <td>텍사스</td>,
 <td>800</td>]

In [31]:
s.select_one('table > tr > td')

In [32]:
import requests
from bs4 import BeautifulSoup

data = requests.get('https://movie.naver.com/movie/sdb/rank/rmovie.nhn')
soup = BeautifulSoup(data.text, 'html.parser')

movies = soup.select('#old_content > table > tbody > tr')

for i in movies:
    a = i.select_one('td.title > div > a')
    if a is not None:
        print(a.text)

크루엘라
분노의 질주: 더 얼티메이트
파이프라인
보이저스
극장판 귀멸의 칼날: 무한열차편
도라에몽: 스탠바이미 2
스파이럴
애플
비와 당신의 이야기
500일의 썸머
굴뚝마을의 푸펠
컨저링 3: 악마가 시켰다
아미 오브 더 데드
캐시트럭
라이더스 오브 저스티스
노매드랜드
더 스파이
혼자 사는 사람들
인트로덕션
크루즈 패밀리: 뉴 에이지
이터널스
미나리
내일의 기억
프로페서 앤 매드맨
아들의 이름으로
브리짓 존스의 일기
내가 죽기를 바라는 자들
썰
낫아웃
좋은 빛, 좋은 공기
베놈 2: 렛 데어 비 카니지
콰이어트 플레이스 2
극장판 콩순이: 장난감나라 대모험
써니
발신제한
쇼크 웨이브 2
2067
킬러의 보디가드 2
잭 스나이더의 저스티스 리그
인셉션
여고괴담 여섯번째 이야기 : 모교
어른들은 몰라요
진범
아이들은 즐겁다
그린 북
노바디
자산어보
명탐정 코난: 비색의 탄환
분노의 질주: 더 세븐
비밀의 정원

## 네이버 개발자 센터
* 네이버 아이디로 로그인 > 오픈 api > 만들기

*  도큐먼트 > 검색 > 파이썬 코드 긁어와서 id, secret 바꾸고 url에서
blog를 webkr로 수정한다.

In [37]:
import os
import sys
import urllib.request
client_id = "ICLySmj4JqvyIxIXFaeA"
client_secret = "5aKcpxqGTZ"
encText = urllib.parse.quote("2021 롤랑가로스")
url = "https://openapi.naver.com/v1/search/webkr?query=" + encText # json 결과

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)

{
"lastBuildDate": "Mon, 31 May 2021 16:27:13 +0900",
"total": 10710,
"start": 1,
"display": 10,
"items": [
{
"title": "<b>2021 롤랑가로스</b> | <b>2021 롤랑가로스</b> 대회 소개",
"link": "http://program.tving.com/tvn/2021rolandgarros/1/Contents/Html",
"description": "<b>2021 롤랑가로스</b> 프랑스오픈 테니스 대회. '테니스 4대 그랜드 슬램' 중 하나로 조코비치, 나달, 페더러 등 세계 정상급 선수들과 함께 국내 유망주 '권순우' 출전! 5/30(일) ~ 6/13(일) 22:00 ~ 09:00 tvN/XtvN"

},
{
"title": "<b>2021 롤랑가로스</b> | <b>2021 롤랑가로스</b> 대회 소개",
"link": "http://program.tving.com/tvn/2021rolandgarros/1/Contents/Html?rcnt=1",
"description": "<b>2021 롤랑가로스</b> 프랑스오픈 테니스 대회. '테니스 4대 그랜드 슬램' 중 하나로 조코비치, 나달, 페더러 등 세계 정상급 선수들과 함께 국내 유망주 '권순우' 출전! 5/30(일) ~ 6/13(일) 22:00 ~ 09:00 tvN/XtvN"

},
{
"title": "<b>2021 롤랑가로스</b> - 테니스피플",
"link": "http://www.tennispeople.kr/news/articleView.html?idxno=12656",
"description": "대회 그랜드슬램 <b>2021 롤랑가로스</b> 테니스피플 | ******@************.** 승인 2021.05.27 02:37:29"

},
{
"title": "<b>롤랑 가로스</b> <b>2021</b> | 라코스테 | LACOSTE",
"link": "https://www.lacoste.com/kr/lacoste-roland-garros.html",
"description": "이번 시즌, 프랑스 오픈의 50년 파트너, 라코스테와 함께 <b>롤랑 가로스</b>, 그 열기의 중심에 서보세요. 지금까지 보지 못했던 특별한 순간들을 라코스테 크록과 함께 경험해보세요."

},
{
"title": "'<b>2021 롤랑가로스</b> 오픈' 태그의 글 목록 - 대학내일",
"link": "https://universitytomorrow.com/tag/2021%20%EB%A1%A4%EB%9E%91%EA%B0%80%EB%A1%9C%EC%8A%A4%20%EC%98%A4%ED%94%88",
"description": " 본문 바로가기 대학내일 홈 태그 방명록 IT 생활정보 <b>2021 롤랑가로스</b> 오픈 1 <b>2021 롤랑가로스</b> 프랑스 오픈 정보 총 정리(일정, 참가자, 상금) 세계 4대 메이저리그인 프랑스에서 열리는 롤랑가로스 오픈이 5월 30일부터 본격"

},
{
"title": "<b>2021 롤랑가로스</b> 테니스 - kakaoTV",
"link": "https://play-tv.kakao.com/channel/3823438",
"description": "<b>2021 롤랑가로스</b> 테니스 동영상 재생목록 정보 전체보기 콘텐츠가 없어요.."

},
{
"title": "'<b>2021 롤랑가로스</b> 대진표' 태그의 글 목록 - 대학내일",
"link": "https://universitytomorrow.com/tag/2021%20%EB%A1%A4%EB%9E%91%EA%B0%80%EB%A1%9C%EC%8A%A4%20%EB%8C%80%EC%A7%84%ED%91%9C",
"description": " 본문 바로가기 대학내일 홈 태그 방명록 IT 생활정보 <b>2021 롤랑가로스</b> 대진표 1 2021 프랑스 오픈(롤랑가로스) 권순우 선수 경기일정 및 중계 채널 2021년 롤랑가로스 프랑스 오픈이 몇일 앞으로 다가왔습니다. 우리나라 선 "

},
{
"title": "<b>2021 롤랑가로스</b> | 생중계 일정",
"link": "http://program.tving.com/tvn/2021rolandgarros/3/Contents/Html",
"description": "<b>2021 롤랑가로스</b> 프랑스오픈 테니스 대회. '테니스 4대 그랜드 슬램' 중 하나로 조코비치, 나달, 페더러 등 세계 정상급 선수들과 함께 국내 유망주 '권순우' 출전! 5/30(일) ~ 6/13(일) 22:00 ~ 09:00 tvN/XtvN"

},
{
"title": "'<b>2021 롤랑가로스</b> 중계' 태그의 글 목록 - 대학내일",
"link": "https://universitytomorrow.com/tag/2021%20%EB%A1%A4%EB%9E%91%EA%B0%80%EB%A1%9C%EC%8A%A4%20%EC%A4%91%EA%B3%84",
"description": " 본문 바로가기 대학내일 홈 태그 방명록 IT 생활정보 <b>2021 롤랑가로스</b> 중계 2 2021 프랑스 오픈(롤랑가로스) 권순우 선수 경기일정 및 중계 채널 2021년 롤랑가로스 프랑스 오픈이 몇일 앞으로 다가왔습니다. 우리나라 선수  "

},
{
"title": "<b>2021 롤랑</b>-<b>가로스</b> - 롤렉스와 테니스 - Rolex",
"link": "https://www.rolex.com/ko/world-of-rolex/tennis/roland-garros.html",
"description": "롤렉스는 선수들에게 극한의 테스트인 <b>2021 롤랑</b>-<b>가로스</b> 대회의 프리미엄 파트너이자 공식 타임키퍼, 공식 시계로 참여합니다. 이야기 자세히 보기."

}
]
}

In [51]:
import re
import json
import pandas as pd
import os
import sys
import urllib.request

client_id = "ICLySmj4JqvyIxIXFaeA"
client_secret = "5aKcpxqGTZ"

query = urllib.parse.quote(input("검색어를 입력 하세요 : "))
cols = ['title', 'link', 'description']
df = pd.DataFrame(columns=cols)

count = 0

for i in range(1, 100, 10):
    url = "https://openapi.naver.com/v1/search/webkr?query=" + query \
    +'&display=' + str(10) + '&start=' + str(i)

    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']

        for j in range(0, len(items)):
            p = re.compile('<.*?>')
            title = re.sub(p, '', items[j]['title'])
            link = items[j]['link']
            description = re.sub(p, '', items[j]['description'])
            df.loc[count] = [title, link, description]
            print(count, end = ' ')
            count += 1


    else:
        print("Error Code:" + rescode)

검색어를 입력 하세요 : 롤랑가로스
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [52]:
df

                                                title  ...                                        description
0                                   롤랑 가로스 프랑스 테니스 오픈  ...  따사로이 이곳을 비추며 봄이 돌아왔음을 알릴 때, 세계 최고의 테니스 선수들이 라켓...
1                                         롤랑 가로스 - 윌슨  ...  윌슨 2021 블레이드 98 (16x19) 롤랑가로스 에디션 98sq in/305g...
2           [daily Look] 윤계상, 롤랑 가로스 현장 분위기 압도 - 패션서울  ...  윤계상은 프랑스 프리미엄 캐주얼 브랜드 라코스테(LACOSTE)의 초청을 받아 지난...
3                  윌슨 2021 롤랑가로스 에디션 | 테니스메트로 온라인 스토어  ...   테니스메트로 온라인 스토어에서 선보이는 윌슨 롤랑가로스 에디션을 가장 먼저 만나보세요.
4                 [윌슨X롤랑가로스] 2020 롤랑가로스를 기대하고 있어요 *_*  ...  2020 롤랑가로스의 기대가 많습니다~ 제가 애용 하는 세계적인 스포츠 브랜드 윌슨...
..                                                ...  ...                                                ...
95                      라코스테, 롤랑 가로스컬렉션 ‘눈길’ - 한국섬유신문  ...  세계 4대 테니스 대회 중 하나인 프렌치 테니스 토너먼트 롤랑 가로스를 기념했다. ...
96  스포츠서울 - '클레이의 킹' 나달, &quot;롤랑가로스에서 뛰는 건 '파리와의 ...  ...  파리/AP 연합뉴스 [스포츠서울 김경무전문기자] “여기(롤랑가로스)에서 플레이하는 ...
97           2018 롤랑가로스 8강 리뷰 : 망했네 망했어 - @insanepizi  ...  티스토리 뷰 일상저널/인세인 tennis 2018 롤랑가로스 8강 리뷰... 여전히...
98                    Pgr21 - [스포츠] 롤랑가로스 남자 단식 4강 대진  ...  한국 시간으로 오늘 오후 7:45분부터 롤랑가로스 남자 4강이 펼쳐집니다.그랜드슬램...
99                                윌슨닷컴 윌슨 롤랑 가로스 팀 백팩  ...  확대 보기 윌슨 롤랑 가로스 팀 백팩 75,000원 품번 WR8006901001 품...

[100 rows x 3 columns]

In [49]:
df.columns

Index(['title', 'link', 'description'], dtype='object')

In [50]:
df.describe()

       title link description
count      0    0           0
unique     0    0           0
top      NaN  NaN         NaN
freq     NaN  NaN         NaN

In [46]:
import re
import json
import pandas as pd
import os
import sys
import urllib.request

client_id = "ICLySmj4JqvyIxIXFaeA"
client_secret = "5aKcpxqGTZ"

query = urllib.parse.quote(input("검색어를 입력 하세요 : "))
cols = ['title', 'link', 'description']
kin_df = pd.DataFrame(columns=cols)

count = 0

for i in range(1, 100, 10):
    url = "https://openapi.naver.com/v1/search/kin?query=" + query \
    +'&display=' + str(10) + '&start=' + str(i) + '&sort=' +'sim'

    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']

        for j in range(0, len(items)):
            p = re.compile('<.*?>')
            title = re.sub(p, '', items[j]['title'])
            link = items[j]['link']
            description = re.sub(p, '', items[j]['description'])
            kin_df.loc[count] = [title, link, description]
            print(count, end = ' ')
            count += 1


    else:
        print("Error Code:" + rescode)

검색어를 입력 하세요 : 원빈
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [47]:
kin_df

                           title  ...                                        description
0                   원빈 왜 작품 안할까여  ...  원빈 왜 작품 안할까여  강력한 작품으로 나오겠죠.... 지금... 국민들이 원빈을...
1   올젠 화보 원빈이 신은 슬립온 제품 알려주세요 ㅠㅠ  ...  사진속 원빈이 신은 슬립온 제품 품번좀 알려주시면 감사하겠습니다 .ㅠㅠ 내공 100...
2                정조대왕의 원빈은 누구인가?  ...  정조 의 후처 원빈의 운명은?  홍국영의 누이동생 이었던 원빈홍씨는 입궁한지 1년만...
3                    원빈이 잘생긴건가요?  ...                       원빈이 잘생긴건가요? ㅈㄱㄴ ㅇ넹 잘생겻어용 원빈
4            지창욱 원빈 탑 뷔 중에 누가 제일  ...            지창욱 원빈 탑 뷔 중에 누가 제일 잘생겼나요 주관적으로  원빈이죠~~
..                           ...  ...                                                ...
95           원빈처럼 잘생겨지는 법이 궁금합니다  ...  원빈처럼 잘생겨지는 법이 궁금합니다  안녕하세요, 남자 피부 좋아지는 법과 잘생겨지...
96                원빈이헤어스타일대체머죠??  ...  원빈이머리너무마음에들어서할려고하는데이머리할려면미용... 즈 입니다 원빈 헤어스타일로...
97        F.T.Island 원빈오빠 탈퇴해요??  ...  ... 오원빈오빠 탈퇴해요?? 사실인가요? 아니겠죠? 아니라고 말해줘요... 원빈오...
98          진짜 궁금해서 그런데 원빈(님) 처럼  ...  진짜 궁금해서 그런데 원빈(님) 처럼 생기려면 성형비가 얼마정도 나올까요?? 안되는...
99                   원빈이랑 데이트하는꿈  ...  원빈이 꿈에 제남자친구로나와 까페에서 데이트하는꿈을꿨는데요 의자에앉아있는데 원빈얼굴...

[100 rows x 3 columns]

In [53]:
kin_df['title'].head(10)

0                    원빈 왜 작품 안할까여
1    올젠 화보 원빈이 신은 슬립온 제품 알려주세요 ㅠㅠ
2                 정조대왕의 원빈은 누구인가?
3                     원빈이 잘생긴건가요?
4             지창욱 원빈 탑 뷔 중에 누가 제일
5                           뷔와 원빈
6                       아무리 원빈이라도
7                       원빈 vs 유준상
8            원빈 촬영 안하까요? 드라마,영화 안
9                    원빈도 피부 안좋으며ㆍ
Name: title, dtype: object

In [56]:
import re
import json
import pandas as pd
import os
import sys
import urllib.request

client_id = "ICLySmj4JqvyIxIXFaeA"
client_secret = "5aKcpxqGTZ"

query = urllib.parse.quote(input("검색어를 입력 하세요 : "))
cols = ['title', 'link', 'description', 'bloggername', 'bloggerlink' ]
blog_df = pd.DataFrame(columns=cols)

count = 0

for i in range(1, 100, 10):
    url = "https://openapi.naver.com/v1/search/blog?query=" + query \
    +'&display=' + str(10) + '&start=' + str(i) + '&sort=' +'sim'

    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']

        for j in range(0, len(items)):
            p = re.compile('<.*?>')
            title = re.sub(p, '', items[j]['title'])
            link = items[j]['link']
            description = re.sub(p, '', items[j]['description'])
            blogger_name = items[j]['bloggername']
            blogger_link = items[j]['bloggerlink']
            blog_df.loc[count] = [title, link, description, blogger_name, blogger_link]
            print(count, end = ' ')
            count += 1


    else:
        print("Error Code:" + rescode)

blog_df

검색어를 입력 하세요 : 장어탕
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

                                  title  ...                        bloggerlink
0   검암동맛집〕&lt;THE기운센풍천장어&gt;의 장어구이와 장어탕  ...       https://blog.naver.com/kimrg
1       [일산맛집] 일산장어맛집 장어미식가 그리고 황칠풍천장어탕  ...     https://blog.naver.com/jiji375
2   일산 장어맛집 장어미식가 면역력에 좋은음식 황칠풍천장어탕...   ...     https://blog.naver.com/belfry9
3                    풍미가 색달랐던 여수 장어탕 맛집  ...  https://blog.naver.com/soojin0252
4               일산 장어맛집 장어미식가 황칠풍천장어탕까지  ...     https://blog.naver.com/im_lime
..                                  ...  ...                                ...
95         수성구 밥집, 보양식으로 장어탕 맛나고 푸짐해요!!  ...   https://blog.naver.com/herbalmam
96                                민물장어탕  ...      https://blog.daum.net/dddss95
97                    참장어탕, 맛기행사계절, 당산동  ...             https://zoominsky.com/
98                  해촌산장어숯불구이 장어구이, 장어탕  ...      https://blog.daum.net/yeokago
99               수성못근처 맛집,삼수장어,장어탕,장어구이  ...      https://blog.daum.net/1953son

[100 rows x 5 columns]