<a href="https://colab.research.google.com/github/nureeee/numpy-pandas/blob/main/210521_%EC%98%A4%ED%9B%84%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 리눅스를 할때 ??
##### 일반사용자는 $로 시작
##### root사용자는 #으로 시작한다

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/drive/MyDrive/book2/examples/ex1.csv')

In [3]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
list (open('/content/drive/MyDrive/book2/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [6]:
result = pd.read_table('/content/drive/MyDrive/book2/examples/ex3.txt', sep='\s+')

###### 코랩의 글꼴은 크롬 설정에 들어가서 바꾼다.

In [9]:
import sys
df.to_csv(sys.stdout, sep = '\t')

	a	b	c	d	message
0	1	2	3	4	hello
1	5	6	7	8	world
2	9	10	11	12	foo

In [14]:
df.to_csv('/content/drive/myout.csv')

OSError: ignored

In [11]:
!ls

drive  myout.csv  sample_data

In [12]:
!cat -n myout.csv  ##코랩에서 만들어진 파일

     1	,a,b,c,d,message
     2	0,1,2,3,4,hello
     3	1,5,6,7,8,world
     4	2,9,10,11,12,foo

In [13]:
!pwd

/content

In [16]:
def f(x):
    return x*x

#####map(함수명, 연속적인 데이터) ==> 연속적인 데이터로는 튜플 또는 리스트

In [18]:
list(map(f, [1, 23, 4, 5]))  ## map함수는 , 뒤의 연속된 값을 ,앞의 함수에 넣어준다

[1, 529, 16, 25]

In [24]:
list(map(int, input().split(',')))  ## 콜백함수; 함수 안에 또 다른 함수의 주소를 가지고 있음

1,2,3,4,5,6,7

[1, 2, 3, 4, 5, 6, 7]

In [25]:
k = 'aaa\tbbb\tccc\tddd\t'

In [26]:
k

'aaa\tbbb\tccc\tddd\t'

In [27]:
print(k)

aaa	bbb	ccc	ddd

In [28]:
k = r'aaa\tbbb\tccc\tddd\t'

In [29]:
print(k) ##탭이 포함된 문자열을 그대로 가져오고 싶을 때는 앞에 r을 붙여준다

aaa\tbbb\tccc\tddd\t

---