<a href="https://colab.research.google.com/github/nureeee/numpy-pandas/blob/main/210613_%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
pd.Series([1, 2, 3, 4]) # 1차열 배열 앞에는 인덱스

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
temp_list = [1, 2, 3, 4]
pd.Series(temp_list) # 리스트를 시리즈로 변경하기

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
temp_list = [1.1, 2.2, 3.3, 4.4, 5.5]
s = pd.Series(temp_list)
s # 실수형 리스트를 시리즈로 바꾸기

0    1.1
1    2.2
2    3.3
3    4.4
4    5.5
dtype: float64

In [11]:
type(s)

pandas.core.series.Series

시리즈가 모여서 데이터 프레임이 된다

In [14]:
sample_data =[['nr', 24, 160],
              ['haha', 22, 159]]

sample_data # 현재에는 리스트 안의 리스트로 들어있음

[['nr', 24, 160], ['haha', 22, 159]]

In [16]:
type(sample_data) # 리스트

list

In [18]:
df1 = pd.DataFrame(sample_data) 
df1

      0   1    2
0    nr  24  160
1  haha  22  159

In [19]:
#1. 컬럼이름을 리스트로 저장하기
df1.columns = ['이름', '나이', '키']
df1

     이름  나이    키
0    nr  24  160
1  haha  22  159

In [23]:
# 2. dict로 만들기
df2 = {
    '이름' : ['조코비치', '치치파스'],
    '나이' : [33, 23],
    '키' : [188, 193]
}
df2 = pd.DataFrame(df2)
df2

     이름  나이    키
0  조코비치  33  188
1  치치파스  23  193

In [24]:
# 꼭 각 컬럼의 스칼라 수가 같아야 한다.
df2 = {
    '이름' : ['조코비치', '치치파스'],
    '나이' : [33, 23, 34],
    '키' : [188, 193]
}
df2 = pd.DataFrame(df2)
df2

ValueError: ignored

json 형태의 데이터를 크롤링 했을 때, 데이터프레임화 시키고 싶을 때 사용!!

In [31]:
# 리스트 안에 딕셔너리 형태로 집어넣음
sample_data = {
    'result':[
  {
    "이름" : "소민호",
    "나이" : 34,
    "키": 180.1
  },
  {
    "이름": "김땡땡",
    "나이" : 33,
    "키": 175.5
  },
  {
    "이름" : "박땡땡",
    "나이" : 28,
    "키": 183.2
  }
]
}

sample_data

{'result': [{'나이': 34, '이름': '소민호', '키': 180.1},
  {'나이': 33, '이름': '김땡땡', '키': 175.5},
  {'나이': 28, '이름': '박땡땡', '키': 183.2}]}

In [29]:
type(sample_data)

list

In [30]:
pd.DataFrame(sample_data)

    이름  나이      키
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2

In [32]:
result = sample_data['result']

In [33]:
result

[{'나이': 34, '이름': '소민호', '키': 180.1},
 {'나이': 33, '이름': '김땡땡', '키': 175.5},
 {'나이': 28, '이름': '박땡땡', '키': 183.2}]

In [34]:
pd.DataFrame(result)

    이름  나이      키
0  소민호  34  180.1
1  김땡땡  33  175.5
2  박땡땡  28  183.2